<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS_C.Properties.Settings.POSConnectionString" connectionString="Data Source=|DataDirectory|\POS.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="POS_C.Properties.Settings.masterConnectionString"
            connectionString="Data Source=WANGXIN1989;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>